<div id="divpadre">
    <div id="divmorado">
        <p>
            ESCUCHANOS EN VIVO 
        </p>
        <P class="online">ONLINE</P>

        <div id="circulo">
            <p class="pforum">FORUM </p>
            <p class="pradio"> RADIO</p>
        </div>
        <p id="psonrisa"> La sonrisa del mundo!</p>
    </div>

    <div id="divgris">
        <p>F<span style="color: #a5d109;">O</span>RUM</p>
        <p>Te invita</p>
        <div id="circuloGris">
            <p class="pforum">CÍRCULO</p>
            <p class="pradio"> Emprendedores</p>
        </div>
        <p id="pContacto"> Si crees que tu idea, emoresa o negocio es innovador, envianos
            una breve reseña a:contacto@forum.com y podras ser publicado de forma exclusiva
            en la revista Forum
        </p>
    </div>


    <div id="divface">
        <img id="perfil1" src="./../../../assets/img/perfil1.jpg" alt="">
        <button style="color: white; background: blue;">Me gusta</button>
        <div>
            <img  id="perfil2" src="./../../../assets/img/perfil2.png" alt="">
        </div>

    </div>


    <div id="divverde">
        <p>Revista</p>
        <p id="pForum">F<span style="color: #a5d109;">O</span>RUM</p><br>
        
        <span style="color: #a5d109;">CONTACTANOS</span>
        <br><br>
        <span>Email: <br>
            Contacto@revistaforum.com <br><br>

            TELËFONO: <br>
            42-2-38-12-81
            <br><br>
            DIRECCIÓN: <br>
            Av.Libertad 6883-Chillan
        </span>
    </div>
</div>